* {
    margin: 0.5em;
    padding: 1em;
}

body {
    background-color: purple;
}

h1 {
    color: yellowgreen;
    text-align: center;
}

#homeImage {
    display: inline-block;
    justify-content: center;
    width: 30%;
}

.col-sm-6 {
    border: 1px solid black;
}